<h2 mat-dialog-title class="d-title" align="center">USB</h2>
<mat-dialog-content>
    <h3 class="content-title">
        USB 3.2 Gen 1
    </h3>
    <p class="content pdt-10">
        Arena 1 has 4 individual USB 3.2 ports located in rear side, which has 5 Gbps data transfer speed. So data transfer made faster.
    </p>
    <p class="content">
        Both Type A and Type C interfaces supported.
    </p>
    <mat-divider></mat-divider>
    <h3 class="content-title pdt-40">
        USB 2.0
    </h3>
    <p class="content pdt-10">
        Arena 1 has 2 individual USB 2.0 ports located in rear side, offers a transfer rate of about 480 Mbps.
    </p>
    <mat-divider></mat-divider>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="close-button" mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>