<section class="animator">
    <!---------------------------->
    <section class="pg-bg">
        <section class="Arena-1-promo-area pdt-30 pdb-80">
            <div class="container">
                <div class="row align-items-center bg-row pdt-50 pdb-50">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <div class="insideGrid w-100 float-left">
                            <div class="position-relative" routerLink="/Gaming/Arena-1">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-bs.jpg?alt=media&token=b7b96672-39ba-4e6c-b254-d05739d83191" alt="Aerna 1 promo image" class="img-fluid img-link bs-image">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-ms.jpg?alt=media&token=bf57a968-5799-42d5-b2e1-903d115c6919" alt="Aerna 1 promo image" class="img-fluid img-link ms-image">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-ss.jpg?alt=media&token=12ba6f6f-aa8a-4f84-a67d-5fb6e5c9474d" alt="Aerna 1 promo image" class="img-fluid img-link ss-image">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <div class="insideGrid w-100 float-left">
                            <div class="position-relative">
                                <h1 class="Product-name title-animation" routerLink="/Gaming/Arena-1">
                                    Arena 1
                                </h1>
                                <h3 class="Product-quote subject-animation">
                                    Build to play with<br>strategies
                                </h3>
                                <p class="Product-price price-animation pt-1">
                                    Price: ₹94,999.00
                                </p>
                                <mat-divider class="gl-divider divider-animation"></mat-divider>
                                <div class="options-button option-btn-animation mt-3 mb-3">
                                    <button mat-button class="product-page-nav" routerLink="/Gaming/Arena-1">
                                    Arena 1
                                    <i class="far fa-angle-right pl-1"></i>
                                </button>
                                    <button mat-button (click)="Arena1share()" class="share-button">
                                    Share
                                    <i class="far fa-share-alt pl-1"></i>
                                </button>
                                </div>
                                <button mat-button class="book-btn book-button-animation" routerLink="/Gaming/Book/Arena/Arena-1-series">
                                Book
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-------------Rotar-i2 banner--------------->
        <section class="banner pdb-60">
            <div class="container banner-container">
                <div class="row flex-row-reverse align-items-center bg-row pdt-50 pdb-50">
                    <!--=== Rotar i2 ===-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center scrl-anime-1">
                        <div class="insideGrid w-100 float-left">
                            <div class="position-relative">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-bs.jpg?alt=media&token=b7b96672-39ba-4e6c-b254-d05739d83191" alt="Aerna 1 promo image" class="img-fluid bs-image">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-ms.jpg?alt=media&token=bf57a968-5799-42d5-b2e1-903d115c6919" alt="Aerna 1 promo image" class="img-fluid ms-image">
                                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/GamingPc-web-page-image-storage%2FArena-1-promo-page-ss.jpg?alt=media&token=12ba6f6f-aa8a-4f84-a67d-5fb6e5c9474d" alt="Aerna 1 promo image" class="img-fluid ss-image">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center scrl-anime-1">
                        <div class="insideGrid w-100 float-left">
                            <div class="position-relative">
                                <h1 class="Product-name title-animation" routerLink="/Gaming/Arena-1">
                                    Arena 1xP
                                </h1>
                                <h3 class="Product-quote subject-animation">
                                    Xtra performance<br>is yours
                                </h3>
                                <p class="Product-price price-animation pt-1">
                                    Price: ₹94,999.00
                                </p>
                                <mat-divider class="divider-animation"></mat-divider>
                                <div class="options-button option-btn-animation mt-3 mb-3">
                                    <button mat-button class="product-page-nav" routerLink="/Arena-1">
                                    Arena 1
                                    <i class="far fa-angle-right pl-1"></i>
                                </button>
                                    <button mat-button [matMenuTriggerFor]="afterMenu" class="share-button">
                                    Share
                                    <i class="far fa-share-alt pl-1"></i>
                                </button>
                                    <mat-menu #afterMenu="matMenu" xPosition="after">
                                        <button mat-menu-item>Item 1</button>
                                        <button mat-menu-item>Item 2</button>
                                    </mat-menu>
                                </div>
                                <button mat-button class="book-btn book-button-animation">
                                Book
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-----------TAB Area----------------->
    <section class="explore-quote">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center scrl-anime-2">
                    <h6 class="caption">Explore our gaming series computers</h6>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------== Service Area ==------------------------------------------>
    <section class="service-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <h6 class="service-caption scrl-anime-4">
                        Our service's for you...
                    </h6>
                </div>
            </div>
        </div>
    </section>
    <section class="service pt-5 pb-5">
        <div class="container scrl-anime-5">
            <div class="row highlight-box align-items-center pb-4">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center scrl-anime-6">
                    <img src="../assets/pages-image/Icons/delivery-ico.svg" alt="" class="img-fluid pt-5">
                    <p class="heading">All over India delivery</p>
                    <p class="details">India wide shipping<br>for free.</p>
                    <p class="know-more" routerLink="/Arena-1">Know more!</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center scrl-anime-7">
                    <img src="../assets/pages-image/Icons/warranty-ico.svg" alt="" class="img-fluid pt-5">
                    <p class="heading">OC warranty</p>
                    <p class="details">1-year warranty<br>in processor for OC</p>
                    <p class="know-more" routerLink="/Arena-1">Know more!</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center scrl-anime-8">
                    <img src="../assets/pages-image/Icons/student-ico.svg" alt="" class="img-fluid pt-5">
                    <p class="heading">Student discount</p>
                    <p class="details">Get ₹5000.00 off<br>using student purchase</p>
                    <p class="know-more" routerLink="/Arena-1">Know more!</p>
                </div>
            </div>
        </div>
    </section>
</section>