<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">mark<span>ii</span></h2>
            </div>
        </div>
    </div>
</section>
<section class="introduction-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="intro">
                    <p class="wlcm-1">Say hello to,</p>
                    <p class="wlcm-2">mark<span>ii</span></p>
                    <p class="lead mt-4">Specially build for 'Gaming in budget'.</p>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
</section>