<section class="offline-page gl-flex-container container-100vh fixed-top">
    <div class="offline-container text-center">
        <h2 class="offline-text-2">
            Uh-Oh!
        </h2>
        <h1 class="offline-text">
            Offline
        </h1>
        <div class="content-instructor">
            <h3 class="offline-text-3">
                You're offline. check your connection.
            </h3>
            <p class="instruction pdt-10 pdb-10">
                Please turn On WiFi/Mobile data<br>And click the Reload button.
            </p>
            <button class="reload-button" mat-stroked-button (click)="reloadGL()">Reload</button>
        </div>
    </div>
</section>