<h2 mat-dialog-title class="d-title" align="center">Bluetooth</h2>
<mat-dialog-content>
    <h3 class="content-title">
        Bluetooth 4.2
    </h3>
    <p class="content pdt-10">
        Our bluetooth 4.2 can manage the highest quality wireless audio with the speed of 1 Mbps.
    </p>
    <p class="content">
        Can reach the range of 50M.
    </p>
    <mat-divider></mat-divider>
    <h3 class="content-title pdt-40">
        Bluetooth 3.0
    </h3>
    <p class="content pdt-10">
        Arena 1 not only support bluetooth 4.2, but also supports 3.0 because some device which only supports v3.0.
    </p>
    <mat-divider></mat-divider>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="close-button" mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>