<!----------------------------------Header Section--------------------------------------------->
<nav class="page-navigator">
    <button class="title" mat-button (click)="backClicked()" #tooltip="matTooltip" matTooltip="Go back" [matTooltipPosition]="'below'" matTooltipHideDelay="100">
        Arena 1
    </button>
    <div class="gl-spacer"></div>
    <button class="buy-button" routerLink="/Gaming/Book/Arena/Arena-1-series" mat-button>
        Book
    </button>
</nav>
<!-------------------------------------------------------------------------------->
<section class="animator">
    <!----------------------------------Intro Section---------------------------------------------->
    <section class="intro-container gl-flex-container container-100vh ">
        <div class="flex-box ">
            <div class="intro-text-area text-center ">
                <p class="Arena-1-compliment ">
                    Strategizing is the basic for a gamer
                </p>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Product-intro Section---------------------------------------------->
    <section class="Arena-1-intro-container gl-flex-container ">
        <div class="Arena-1-content ">
            <p class="Arena-1-name text-center">
                Arena 1
            </p>
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FArena-1-bs.jpg?alt=media&token=f2c73770-a177-4190-91c4-cd94c75ddd95" alt="Arena 1" class="img-fluid bs-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FArena-1-ms.jpg?alt=media&token=12791f3b-2551-4169-93df-b449e701c84e" alt="Arena 1" class="img-fluid ms-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FArena-1-ss.jpg?alt=media&token=dc2d253f-1c75-4e2a-9bee-e845d6dd7f7f" alt="Arena 1" class="img-fluid ss-image ">
            <p class="feature-intro-text text-center pdt-30 pdb-80 ">
                Build to play with <span>strategies</span>
            </p>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Processor Section---------------------------------------------->
    <section class="chip-design-intro gl-flex-container ">
        <div class="flex-box ">
            <div class="chip-text text-center ">
                <p class="pinned-text-1 pdt-60 ">
                    Chiplet designed<br>Processor
                </p>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
    <section class="processor-design-area ">
        <div class="chip-design-container ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FChiplet-design-bs.jpg?alt=media&token=d2bd9e11-1969-4511-8d50-a156fa665724" alt="Arena 1 processor" class="img-fluid bs-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FChiplet-design-ms.jpg?alt=media&token=fc539a47-89b4-4b0a-b0a2-817b6482f22b" alt="Arena 1 processor" class="img-fluid ms-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FChiplet-design-ss.jpg?alt=media&token=afbb966f-eeb6-485b-9225-26028fd1c55b" alt="Arena 1 processor" class="img-fluid ss-image ">
            <div class="about-content-1 ">
                <h1 class="pinned-text-2 text-center ">
                    7 nanometer architecture<br>high performance by higher clock speeds and IPC performance
                </h1>
            </div>
            <section class="core-count-section specs-padder ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-12 ">
                            <div class="content-center text-center ">
                                <p class="info ">
                                    6<span class="info-span "> core</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="cpu-specification pt-5 pb-5 ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="inside-grid w-100 float-left ">
                        <div class="border-container position-relative text-center ">
                            <p class="spec-1 pb-5 ">
                                Base Frequency, <span>3600 MHz</span>
                            </p>
                            <mat-divider class="divider "></mat-divider>
                            <p class="spec-2 pt-5 pb-5 ">
                                Turbo Frequency, <span>4200 MHz</span>
                            </p>
                            <mat-divider class="divider "></mat-divider>
                            <h1 class="unlocked-performance-text-1 text-center pt-5 pb-5 ">
                                Fully unlocked
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
    <section class="magic-container ">
        <div class="magic-container-content ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FFaster-bs.jpg?alt=media&token=7058e0f5-0d75-4ae5-86c7-5b6637cbf2a5" class="img-fluid bs-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FFaster-ms.jpg?alt=media&token=12bf0ea9-a1d4-49f7-8fc6-8ea6ef96d485" class="img-fluid ms-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FFaster-ss.jpg?alt=media&token=5a5aaab0-b03d-4b3a-987a-5decbf125473" class="img-fluid ss-image ">
            <span class="magic-text ">
            It's Magically<br>faster<br>dude
        </span>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------GPU Section---------------------------------------------->
    <section class="graphics-container-intro ">
        <div class="gl-flex-container ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FGPU-bs.jpg?alt=media&token=b6b8a4e3-66f8-40a7-8d93-81417c225391" alt="Arena 1 GPU" class="img-fluid bs-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FGPU-ms.jpg?alt=media&token=72f8af3e-d3a4-476c-b374-4000fcc5bd3a" alt="Arena 1 GPU" class="img-fluid ms-image ">
            <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FGPU-ss.jpg?alt=media&token=3fc8a702-65be-4b51-bbca-ad0f9ece82db" alt="Arena 1 GPU" class="img-fluid ss-image ">
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
    <section class="gpu-arch ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 text-center ">
                    <p class="rtx-arch ">
                        Based on NVIDIA Ampere Architecture
                    </p>
                    <p class="specs-padder ">
                        <span class="gpu-core ">
                        <span>2560</span><span class="gpu-core-span "> CUDA cores</span>
                        </span>
                    </p>
                    <mat-divider class="divider "></mat-divider>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
    <section class="gpu-specification pt-5 pb-5 ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="inside-grid w-100 float-left ">
                        <div class="border-container position-relative text-center ">
                            <p class="spec-1 ">
                                Base Frequency, <span>1555 MHz</span>
                            </p>
                            <p class="spec-1 pt-5 pb-5 ">
                                Turbo Frequency, <span>1777 MHz</span>
                            </p>
                            <mat-divider class="divider "></mat-divider>
                            <p class="spec-2 pt-5 ">
                                Memory configuration, <span>8GB</span>
                            </p>
                            <p class="spec-2 pt-5 pb-5 ">
                                Memory interface width, <span>128 bit</span>
                            </p>
                            <mat-divider class="divider "></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Monitor-resolution Section---------------------------------------------->
    <section class="monitor-resolution pt-5 pb-5 ">
        <div class="gl-flex-container ">
            <div class="figure-text-container ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F8k-resolution-sample-bs.jpg?alt=media&token=5077bb2e-739a-4d86-954c-f852c313b979" alt="Arena 1 supports 8k monitors" class="img-fluid bs-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F8k-resolution-sample-ms.jpg?alt=media&token=e360912e-827b-4e09-a50d-b5622bd95c75" alt="Arena 1 supports 8k monitors" class="img-fluid ms-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F8k-resolution-sample-ss.jpg?alt=media&token=ef9b4c06-c581-4b3c-8738-5aa9b2131c29" alt="Arena 1 supports 8k monitors" class="img-fluid ss-image ">
                <div class="text-container text-center ">
                    <p class="resolution-text ">
                        Upto
                    </p>
                    <h1 class="resolution-text-2 ">
                        8k Resolution
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
    <section class="multiple-monitor pt-5 ">
        <div class="gl-flex-container content-padder ">
            <div class="figure-text-container-2 ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FMultiple-monitor-bs.jpg?alt=media&token=5e1b3278-79be-4862-aefa-bd9875767871" alt="Multpile monitors of Arena 1" class="img-fluid bs-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FMultiple-monitor-ms.jpg?alt=media&token=e458cd47-73a8-4120-88a7-1e8ed0dc754b" alt="Multpile monitors of Arena 1" class="img-fluid ms-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2FMultiple-monitor-ss.jpg?alt=media&token=8f7c3721-fe04-4c83-9876-31a3735a61a4" alt="Multpile monitors of Arena 1" class="img-fluid ss-image ">
                <span class="multiple-monitor-text text-center ">
                Multiple 8k's
            </span>
            </div>
        </div>
    </section>
    <section class="gl-flex-container multiple-monitor-content ">
        <div class="content-explainer-text text-center ">
            <p class="monitor-content-1 ">
                3 DisplayPort 1.4a
            </p>
            <p class="monitor-content-port ">
                1 HDMI 2.1
            </p>
            <p class="monitor-content-2 ">
                Connect upto 4 multiple monitor's in 8k quality
            </p>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Ray tracing Section---------------------------------------------->
    <section class="ray-tracing-specification gl-flex-container pdt-100 pdb-50 ">
        <div class="rt-content-container text-center ">
            <h1 class="rt-tech-title ">
                2nd Gen
            </h1>
            <h1 class="rt-tech-title-2 ">
                Ray tracing technology
            </h1>
            <h4 class="rt-tech-description ">
                Accelerate ray tracing performance by up to 2x
            </h4>
        </div>
    </section>
    <section class="ray-tracing-image-samples ">
        <div class="gl-flex-container ">
            <div class="image-container ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F2nd-Gen-Ray-Tracing-bs.jpg?alt=media&token=bd2e3213-2b50-4d18-a5cc-f120895bb422" alt="Gen 2 Ray tracing technology" class="img-fluid bs-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F2nd-Gen-Ray-Tracing-ms.jpg?alt=media&token=ed165362-f67a-4cec-86a6-00ac578d53c5" alt="Gen 2 Ray tracing technology" class="img-fluid ms-image ">
                <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-web-page-image-storage%2F2nd-Gen-Ray-Tracing-ss.jpg?alt=media&token=20ab5794-c3b6-47a5-948b-2c89bb488deb" alt="Gen 2 Ray tracing technology" class="img-fluid ss-image ">
                <div class="image-content-text rtx-off ">
                    <span class="rtx-state-text state-color-1 ">
                    RTX OFF
                </span>
                </div>
                <div class="image-content-text rtx-on ">
                    <span class="rtx-state-text state-color-2 ">
                    RTX ON
                </span>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Pre-installed-games Section---------------------------------------------->
    <section class="game-package pdt-100 pdb-20 ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <h1 class="game-package-text ">
                        Ready to combat
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="installed-games pdb-50 ">
        <div class="container ">
            <div class="row ">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center ">
                    <div class="insideGrid w-100 float-left ">
                        <div class="content-border bg-dark ">
                            <figure class="gta-v-icon "></figure>
                            <h3 class="game-title pdb-20 ">
                                Grand Theft Auto V
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center ">
                    <div class="insideGrid w-100 float-left ">
                        <div class="content-border bg-dark ">
                            <figure class="COD-icon "></figure>
                            <h3 class="game-title pdb-20 ">
                                Call of duty: Warzone
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center ">
                    <div class="insideGrid w-100 float-left ">
                        <div class="content-border bg-dark ">
                            <figure class="fortnite-icon "></figure>
                            <h3 class="game-title pdb-20 ">
                                Fortnite
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center ">
                    <div class="insideGrid w-100 float-left ">
                        <div class="content-border bg-dark ">
                            <figure class="valorant-icon "></figure>
                            <h3 class="game-title pdb-20 ">
                                Valorant
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center ">
                    <h4 class="games-for-rotari1 pdt-20 pdb-40 ">
                        Above mentioned games are standard for Arena 1
                    </h4>
                    <mat-divider class="divider "></mat-divider>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Access memory and Internal Storage Section---------------------------------------------->
    <section class="memory-and-storage-container pdt-100 pdb-60 ">
        <div class="container-fluid ">
            <div class="row ">
                <!--------------------------------Memory container------------------------------------------------>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                    <div class="insideGrid w-100 float-left bg-dark ">
                        <div class="memory-container position-relative card-container-h ">
                            <h1 class="memory-title-card ">
                                Access Memory
                            </h1>
                            <h3 class="memory-subtitle-card pdt-50 ">
                                Unparalleled memory performance
                            </h3>
                            <p class="memory-description-card pdt-20 ">
                                Multitasking is done faster with our 3200MHz memory. These kits are allocated on the board using dual channel implementation. Which gives you the smooth workflow in both gaming mode and workstation mode.
                            </p>
                            <h2 class="memory-capacity-card text-center pdt-20 ">
                                I6<span>GB</span>
                            </h2>
                            <mat-divider class="divider "></mat-divider>
                            <p class="text-center pdt-20 pdb-20 ">
                                <span class="argb-memory ">ARGB</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!--------------------------------Storage container------------------------------------------------>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                    <div class="insideGrid w-100 float-left bg-dark mt-5 ">
                        <div class="storage-container position-relative card-container-h ">
                            <h1 class="storage-title-card ">
                                Internal Storage
                            </h1>
                            <h3 class="storage-subtitle-card pdt-50 ">
                                3D NAND technology
                            </h3>
                            <p class="storage-description-card pdt-20 ">
                                This NVMe is specially made for gaming purpose. The implementation of 3D NAND technology provides 3.43 GB of sequential reading speed and 2.6 GB of sequential writing speed.
                            </p>
                            <h2 class="storage-capacity-card text-center pdt-20 ">
                                500<span>GB</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->

    <!----------------------------------Connectivity Section---------------------------------------------->
    <section class="connectivity-section pdt-100 pdb-60 ">
        <div class="container ">
            <div class="row connectivity-row bg-dark ">
                <div class="col-12 text-center ">
                    <h2 class="connectivity-title pdt-30 pdb-80 ">
                        Connectivities
                    </h2>
                </div>
                <div class="col-12 text-center pdb-20 ">
                    <p class="instruction-note ">
                        Click on the icons to view more info's
                    </p>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openUSBDialog()" class="usb-icon "></figure>
                    <div class="cnt-content-wrapper">
                        <h4 class="cnt-name " (click)="openUSBDialog()">
                            USB 3.2 / 2.0
                        </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openBluetoothDialog() " class="bluetooth-icon "></figure>
                    <div class="cnt-content-wrapper ">
                        <h4 class="cnt-name " (click)="openBluetoothDialog() ">
                            Bluetooth 4.2 / 3.0
                        </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openAudioDialog() " class="audio-icon "></figure>
                    <div class="cnt-content-wrapper ">
                        <h4 class="cnt-name " (click)="openAudioDialog() ">
                            7.1 CH HD Audio
                        </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openWifiDialog() " class="wifi-icon "></figure>
                    <div class="cnt-content-wrapper ">
                        <h4 class="cnt-name " (click)="openWifiDialog() ">
                            Intel® 802.11ac WiFi Module
                        </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openLANDialog() " class="lan-icon "></figure>
                    <div class="cnt-content-wrapper ">
                        <h4 class="cnt-name " (click)="openLANDialog() ">
                            Realtek Gigabit LAN
                        </h4>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center pdb-70 ">
                    <figure (click)="openRGBDialog() " class="rgb-icon "></figure>
                    <div class="cnt-content-wrapper ">
                        <h4 class="cnt-name " (click)="openRGBDialog() ">
                            ASRock Polychrome SYNC
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------------------------------------------------->
</section>