<nav class="page-navigator-dark">
    <button class="title-dark" mat-button (click)="backClicked()" #tooltip="matTooltip" matTooltip="Go back" [matTooltipPosition]="'below'" matTooltipHideDelay="100">
    Arena 1 series Booking
  </button>
</nav>
<!--==Hero section==-->
<section class="instruction-section pdt-100 pdb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="hero-text">
                    Select your preferred Model
                </h1>
            </div>
        </div>
    </div>
</section>
<!--==Tab section==-->
<section class="product-selection-tab pdt-50 pdb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-tab-group mat-align-tabs="center" class="tab-container">
                    <!--====================Tab1======================-->
                    <mat-tab label="Arena 1">
                        <div class="container pt-5 pb-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center pdt-20 pdb-20">
                                    <div class="insideGrid w-100 float-left">
                                        <div class="modal-2 position-relative">
                                            <button class="storage-option-button" mat-button routerLink="/Gaming/Book/Arena/Arena-1-series/Arena-1-500GB-Model">
                                                <div class="inside-button-content pdt-20 pdb-20">
                                                    <p class="Product-name pdb-20">Arena 1</p>
                                                    <div class="Product-details-area mt-3">
                                                        <p class="Product-details"> 6-Cores, 12-Threads (CPU) </p>
                                                        <p class="Product-details"> RTX 3050 8GB GDDR6 (GPU) </p>
                                                        <p class="Product-details"> 16GB ARGB" 3200MHZ (RAM) </p>
                                                        <p class="Product-details"> Windows 11 Pro (OS) </p>
                                                        <p class="storage-details pdt-20 pdb-10">500GB SSD</p>
                                                    </div>
                                                    <mat-divider class="gl-divider"></mat-divider>
                                                    <p class="Product-price pdt-30">Price: ₹99,999.00</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center pdt-20 pdb-20">
                                    <div class="insideGrid w-100 float-left">
                                        <div class="modal-1 position-relative">
                                            <button class="storage-option-button" mat-button routerLink="/Gaming/Book/Arena/Arena-1-series/Arena-1-1TB-Model">
                                                <div class="inside-button-content pdt-20 pdb-20">
                                                    <p class="Product-name pdb-20">Arena 1</p>
                                                        <div class="Product-details-area mt-3">
                                                            <p class="Product-details"> 6-Cores, 12-Threads (CPU) </p>
                                                            <p class="Product-details"> RTX 3050 8GB GDDR6 (GPU) </p>
                                                            <p class="Product-details"> 16GB ARGB" 3200MHZ (RAM) </p>
                                                            <p class="Product-details"> Windows 11 Pro (OS) </p>
                                                            <p class="storage-details pdt-20 pdb-10">1TB SSD</p>
                                                        </div>
                                                        <mat-divider class="gl-divider"></mat-divider>
                                                    <p class="Product-price pdt-30">Price: ₹1,14,999.00</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <!--====================Tab2======================-->
                    <mat-tab label="Arena 1xP">
                        <div class="container pt-5 pb-5">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                                    <div class="insideGrid w-100 float-left">
                                        <div class="modal-2 position-relative">
                                            <button class="storage-option-button-2" mat-button routerLink="/Gaming/Book/Arena/Arena-1-series/Arena-1-500GB-Model">
                                                <div class="inside-button-content pdt-20 pdb-20">
                                                    <p class="Product-name pdb-20">Arena 1xP</p>
                                                    <div class="Product-details-area mt-3">
                                                        <p class="Product-details"> 12-Cores, 24-Threads (CPU) </p>
                                                        <p class="Product-details"> RTX 3050 8GB GDDR6 (GPU) </p>
                                                        <p class="Product-details"> 16GB ARGB" 3200MHZ (RAM) </p>
                                                        <p class="Product-details"> Windows 11 Pro (OS) </p>
                                                        <p class="storage-details pdt-20 pdb-10">500GB SSD</p>
                                                    </div>
                                                    <mat-divider class="gl-divider-2"></mat-divider>
                                                    <p class="Product-price pdt-30">Price: ₹1,29,999.00</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                                    <div class="insideGrid w-100 float-left">
                                        <div class="modal-1 position-relative">
                                            <button class="storage-option-button-2" mat-button routerLink="/Gaming/Book/Arena/Arena-1-series/Arena-1-500GB-Model">
                                                <div class="inside-button-content pdt-20 pdb-20">
                                                    <p class="Product-name pdb-20">Arena 1xP</p>
                                                    <div class="Product-details-area mt-3">
                                                        <p class="Product-details"> 12-Cores, 24-Threads (CPU) </p>
                                                        <p class="Product-details"> RTX 3050 8GB GDDR6 (GPU) </p>
                                                        <p class="Product-details"> 32GB ARGB" 3200MHZ (RAM) </p>
                                                        <p class="Product-details"> Windows 11 Pro (OS) </p>
                                                        <p class="storage-details pdt-20 pdb-10">1TB SSD</p>
                                                    </div>
                                                    <mat-divider class="gl-divider-2"></mat-divider>
                                                    <p class="Product-price pdt-30">Price: ₹1,44,999.00</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>