<div class="container-fluid screen">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide geniland-slider" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="banner"></div>
                        <div class="carousel-caption">
                            <h2>Slide <span>One</span></h2>
                            <h3>This is the sample of Slide One sir</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="banner"></div>
                        <div class="carousel-caption">
                            <h2>Slide <span>Two</span></h2>
                            <h3>This is the sample of Slide Two sir</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="banner"></div>
                        <div class="carousel-caption">
                            <h2>Slide <span>Three</span></h2>
                            <h3>This is the sample of Slide Three sir</h3>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>