<section class="home-image gl-flex-container container-100vh">
    <div class="image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Home-web-page-image-storage%2FGLCRhome-bs.jpg?alt=media&token=eadd6294-4ae4-4374-8e85-a7904c73d49f" alt="" class="img-fluid bs-image" />
        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Home-web-page-image-storage%2FGLCRhome-ms.jpg?alt=media&token=9e1a8c49-982a-49af-9998-6ec99271ff0a" alt="" class="img-fluid ms-image" />
        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Home-web-page-image-storage%2FGLCRhome-ss.jpg?alt=media&token=bdac9f91-4c9a-4faa-aba4-ee76f2b98016" alt="" class="img-fluid ss-image" />
    </div>
</section>