<nav class="page-navigator-dark">
    <button class="title-dark" mat-button (click)="backClicked()" #tooltip="matTooltip" matTooltip="Go back" [matTooltipPosition]="'below'" matTooltipHideDelay="100">
    Arena 1 - 500GB
  </button>
</nav>

<section class="Arena-1-checkout-area pdt-30 pdb-80">
    <div class="container">
        <div class="row align-items-center pdt-50 pdb-50">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <div class="insideGrid w-100 float-left">
                    <div class="position-relative">
                        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-checkout-image-storage%2FArena-1-checkout-page-bs.png?alt=media&token=0ac482f5-90d0-4c13-97e1-b04d7bb93ed4" alt="Aerna 1 Checkout image" class="img-fluid bs-image">
                        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-checkout-image-storage%2FArena-1-checkout-page-ms.png?alt=media&token=89dd16b0-add9-4f98-99a0-0794343e29a0" alt="Aerna 1 Checkout image" class="img-fluid ms-image">
                        <img src="https://firebasestorage.googleapis.com/v0/b/gl-computer-reserve.appspot.com/o/Arena-1-checkout-image-storage%2FArena-1-checkout-page-ss.png?alt=media&token=6d4ae238-59e6-4c44-8e07-2222cef523d7" alt="Aerna 1 Checkout image" class="img-fluid ss-image">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <div class="insideGrid w-100 float-left">
                    <div class="position-relative">
                        <p class="Product-name pdb-20">Arena 1</p>
                        <div class="Product-details-area mt-3">
                            <p class="Product-details"> 6-Cores, 12-Threads (CPU) </p>
                            <p class="Product-details"> RTX 3050 8GB GDDR6 (GPU) </p>
                            <p class="Product-details"> 16GB ARGB" 3200MHZ (RAM) </p>
                            <p class="Product-details"> Windows 11 Pro (OS) </p>
                            <p class="storage-details pdt-20 pdb-10">500GB SSD</p>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="Product-price pt-2">Price: ₹99,999.00</p>
                        <a mat-stroked-button href="https://buy.stripe.com/7sI15K109dXW7NSdQR" class="buy-btn mt-3">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>